<?php

    use Carbon\Carbon;

    $today = Carbon::today();
    for ($i = 1; $i < 30; $i++) {

        $empty = true;

        foreach ($record->reservation as $r) {
            $carbon_start = Carbon::parse($r->start_time);
            $carbon_end = Carbon::parse($r->end_time);

            if( $today->between($carbon_start, $carbon_end) ) {
                $empty = false;
            }
        }

        if($empty) {
            echo "<span style=\"background-color: green; color: white;\">".$today->format('d.m')."</span> ";
        } else {
            echo "<span style=\"background-color: red; color: white;\">".$today->format('d.m')."</span> ";
        }
        if($today->isSunday()) {
            echo "<br />";
        }
        $today->addDay();

    }

?>