<div data-control="toolbar">
        <a href="<?= Backend::url('tk/carrental/reservations/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?></a>
            <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-check"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onApprove"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.approveconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        <?= e(trans('tk.carrental::lang.carrental.approveselected')) ?>
    </button>

    <button
            class="btn btn-default oc-icon-file-excel-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onExcelExport"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.exportexcelconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        Excel
    </button>

    <button
            class="btn btn-default oc-icon-file-pdf-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onPDFExport"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.exportpdfconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        PDF TR
    </button>
    <button
            class="btn btn-default oc-icon-file-pdf-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onPDFExportEN"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.exportpdfconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        PDF EN
    </button>
    <button
            class="btn btn-default oc-icon-file-pdf-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onPDFExportDE"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.exportpdfconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        PDF DE
    </button>

    <button
            class="btn btn-default oc-icon-bar-chart"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onTotalEUR"
            data-request-confirm="<?= e(trans('tk.carrental::lang.carrental.totalEURconfirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-stripe-load-indicator>
        <?= e(trans('tk.carrental::lang.carrental.totalEUR')) ?>
    </button>
</div>
